# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

/node_modules
/coverage
/.next/
/out/
.DS_Store
*.pem
*.tsbuildinfo
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.env*
.vercel
/dist/
/outputs/
/work/
/.playwright-cli/
